body{
    background-color: #3D424C;
}

.container{
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align:center;
    color:white;
}

